In [ ]:
# df['Flood'] = df['Flood']
# result = re.sub(r'[^0-9.]', '', df['Flood'])

In [ ]:
df["Flood"] = pd.to_numeric(df["Flood"])

In [ ]:
df = df.replace(to_replace="0",value="NaN")

In [ ]:
df.head()

In [ ]:
df["Wildfire"] = df["Wildfire"].dropna()

In [ ]:
df["Wildfire"].isnull().sum()

In [ ]:
df = df.replace(0, np.nan)
df = df.dropna(how='all', axis=0)

In [ ]:
df = [x for x in df if x !=0]